/* Load Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

/* Load Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
    body {
        @apply relative  leading-none  font-sans;
        @apply text-xs   sm:text-base  print:text-xs;
    }
    
    h1, h2, h3, h4, h5, h6 { @apply    font-heading pt-1; }
    h1 { @apply font-light   text-6xl  sm:text-8xl  print:text-6xl; }
    h2 { @apply font-medium  text-4xl  sm:text-6xl  print:text-4xl; }
    h3 { @apply font-bold    text-2xl  sm:text-4xl  print:text-2xl; }
    h4 { @apply font-medium  text-base sm:text-xl   print:text-base; }
}

@layer components {
    /* Add missing styles */
    .min-h-32 { min-height: 8rem; }
    .min-w-48 { min-width: 14rem; }
    .bg-base-400 { @apply bg-gray-400 dark:bg-black; }
    
    /* NavLink styling */
    a.active, a.active-parent, a.active-parent .link { @apply cursor-default; }

    /* Colored hovering */
    .table tr.hover.hover-error:hover td {
        @apply bg-error;
    }

    /* Remove input number up/down arrows */
    input[type='number'].hide-arrows::-webkit-inner-spin-button,
    input[type='number'].hide-arrows::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
