/* Load Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap')
layer(base);

/* Load Tailwind */
@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility active {
  /* NavLink styling */
  &a {
    @apply cursor-default;
  }
}

@utility active-parent {
  & a {
    @apply cursor-default;
  }
  & a .link {
    @apply cursor-default;
  }
}

@utility link {
  a.active-parent & {
    @apply cursor-default;
  }
}

@utility table {
  /* Fix daisyUI table formatting */
  & > thead > tr > th:first-child {
    @apply static;
  }
}

@utility hide-arrows {
  /* Remove input number up/down arrows */
  &input[type='number'] {
    -moz-appearance: textfield;
  }
  &input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    @apply m-0;
  }
  & input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    @apply m-0;
  }
}

@utility select {
  /* Hide arrow in disabled dropdown */
  &:disabled {
    background-image: none;
  }
}

@utility bg-ignore {
  /* Class to ignore background effects */
  @apply hover:bg-transparent active:bg-transparent focus:bg-transparent;
}

@utility btn {
  /* General button styling */
  @apply uppercase;
}

@reference "tailwindcss";

/* Base Styles */
@layer base {
    html { @apply h-full w-full; }
    body {
        @apply relative  leading-none  font-sans;
        @apply text-xs   sm:text-base  print:text-xs;
    }
    
    h1, h2, h3, h4, h5, h6 { @apply    pt-1; }
    h1 { @apply font-light   text-6xl  sm:text-8xl  print:text-6xl; }
    h2 { @apply font-medium  text-4xl  sm:text-6xl  print:text-4xl; }
    h3 { @apply font-bold    text-2xl  sm:text-4xl  print:text-2xl; }
    h4 { @apply font-medium  text-base sm:text-xl   print:text-base; }
}
