# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/*/node_modules
/.pnp
.pnp.js

# credentials
dbServer.json

# dev-only testing files
/*/coverage
/api/cockroach-data

# production
/client/build
/deploy.sh

# generated
/client/src/assets/validation.json
/client/src/index.css

# misc
.DS_Store
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
